
main {
    display: grid;
    grid-template-columns: 200px 1fr; 
    grid-template-rows: auto 1fr;
    gap: 20px; 
    min-height: 100vh;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
}

nav#panel-izquierda {
    grid-column: 1;
    grid-row: 2;
}

section#principal {
    grid-column: 2;
    grid-row: 2;
}



#cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
}

@media (max-width: 900px) {
    #cartas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    #cartas {
        grid-template-columns: 1fr;
    }
}